services:
  kolokol_bot:
    build:
      context: ../../bots/kolokol_tgbot
      dockerfile: Dockerfile

    container_name: kolokol_work_bot

    restart: unless-stopped
    networks:
      - backend
    env_file:
      - .env

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
networks:
    backend:
        name: backend